<?xml version="1.0"?>
<launch>

  <rosparam file="$(find pcl_obstacle_detection)/config/VLP.yaml" />

  <node name="pcl_obstacle_detection" pkg="pcl_obstacle_detection" type="pcl_obstacle_detect_node" output="screen">
    <!-- Input Topic Names  -->
    <!-- <param name="lidar_points_topic"                  value="/velodyne_points"/> -->
    <!-- Output Topic Names -->
    <!-- <param name="cloud_ground_topic"                  value="obstacle_detector/cloud_ground"/> -->
    <!-- <param name="cloud_clusters_topic"                value="obstacle_detector/cloud_clusters"/> -->
    <!-- <param name="jsk_bboxes_topic"                    value="obstacle_detector/jsk_bboxes"/> -->
    <!-- <param name="autoware_objects_topic"              value="obstacle_detector/objects"/> -->
    <!-- Parameters -->
    <!-- <param name="bbox_target_frame"                   value="velodyne"/> --> -->
  </node>

  <!-- Dynamic Reconfigure GUI -->
  <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure" output="screen" />


  <!-- Rviz -->
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find pcl_obstacle_detection)/rviz/VLP.rviz" output="log" respawn="true" />

</launch>